body {
    
    background-image: url('Coffee%20Beans.jpeg');
    font-family: 'Bubbler One', 'sans-serif', 'Mogra','PT Sans';
    color: aliceblue
}
h1 {
    font-family: "Mogra";
    padding-left: 30px;
}
.img1 {
    max-height: 200px;
    padding-top: 10px;
    display: inline;
    margin-left: 10px;
}
ul {
    list-style: none;
}
#container {
    background-color: rgb(13, 145, 70);
    opacity: 80%;
    width: 50%;
    transform: translate(50%);
    height: 850px;
}
p {
    color: black;
    padding-left: 30px;
    padding-top: 10px
}
header {
    padding-left: 30px;
    width: 100%;
}
a {
    color: black;
}
a:hover{
    opacity: 0.5;
}
#p1 {
    font-size: 20px;
    font-family: "PT Sans";
    padding-left: 30px;
    
    
}
footer {
    padding-left: 30px;
    font-family: "Bubbler One";
}
li {
    display: inline-block;
    padding-left: 30px;
}
li:first-child {
    padding-left: 0px;
}
.img2 {
    height: 180px;
    display: inline;
    position: relative; 
    margin-top: -240px; 
}
header img {
    position: relative;
    display: block;
    visibility: visible;
    left: 50%;
    transform: translate(-50%, 0);
}
@media all and (max-width:800px) {
    header img {
        display: none;
        visibility: hidden;
    }
}